@import "./reset.css";

.container {
    width: min(100% - 100px, 1080px);
    margin-inline: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0a0f1c;
}

main {
    max-width: 600px;
    margin: 50px auto;
}

body textarea {
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #1b2230;
}

.logo {
    color: #4da3ff;
    font-size: 22px;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #cfd6e6;
    font-size: 15px;
}

nav li a:hover {
    color: #cac8f0;
}

.profileIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.postForm {
    background-color: #1b212e;
    padding: 20px;
    border-radius: 10px;
}

textarea {
    width: 100%;
    height: 80px;
    background: transparent;
    border: none;
    font-size: 16px;
}

.postCntrl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.fileIndicator i {
    font-size: 18px;
    cursor: pointer;
    color: #9aa4c3;
    display: flex;
    align-items: center;
    gap: 6px;
}

#postBtn {
    background: #3b8cff;
    border: none;
    color: #fff;
    padding: 8px 18px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

#postBtn:hover {
    background: #2c74d9;
}

#postsContainer {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000099;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: #fff;
    color: #141414;
    padding: 25px;
    border-radius: 10px;
    width: 350px;
    position: relative;
}

#closeModal {
    position: absolute;
    top: 15px;
    right: 18px;
    font-size: 18px;
    font-weight: bold;
    color: #555;
    cursor:pointer;

}

#closeModal:hover {
    color: #000;
}

.hidden {
    display: none;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.userName {
    font-weight: bold;
}

.postDate {
    color: #777;
    font-size: 14px;
}

/* Profile Card */
.profileCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.profileCard h2 {
    font-size: 18px;
    margin: 5px 0;
    font-weight: bold;
}

.profileCard p {
    font-size: 14px;
    color: #555;
    margin: 0;
}

.profileCard .profileImage {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.profileCard::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #eee;
    margin-top: 15px;
}

.details{
    margin-top: 10px;
}

.profileCard .details {
    margin-top: 10px;
    font-size: 13px;
    color: #666;
}

.profileCard .details p {
    margin: 4px 0;
}

/* style for post.js */
.post {
    background-color: #ffffff;
    border-radius: 14px;
    padding: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}